<tr data-test-github-pr>
    <td><a href={{@pr.pull_request.html_url}}>{{@pr.title}}</a></td>
    <td>{{this.repo}}</td>
    <td>{{luxon-date-formatter @pr.created_at}}</td>
    <td>{{luxon-date-formatter @pr.updated_at}}</td>
</tr>