<table class="github-issue-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |issue|}}
      <tr>
        <td><a target="_blank" href={{issue.repositoryHtml}}>{{issue.repositoryName}}</a></td>
        <td>
          {{issue.title}}
          <a target="_blank" class="github-issue-link" href={{issue.htmlUrl}}>link</a>
          {{#each issue.labels as |label|}}
            {{github-label label=label.name labelColor=label.color class="github-label"}}
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
