<div class="help-wanted-links">
  <a href="/">{{es-button label="All Issues" isTiny=true}}</a>
  {{#each this.navLinks.navLinks as |link|}}
    <a href={{link.href}}>{{es-button label=link.name isTiny=true}}</a>
  {{/each}}
</div>
<form {{action "searchByWildcard" this.queryInput on="submit"}} class="search-box">
  {{input value=this.queryInput}} <button type="submit">Search</button>
  {{#if this.label}}
    <span class="current-filter-label">
      {{label-with-emoji this.label}}
      <button class="github-label-button" {{action (mut this.label) null}}>x</button>
    </span>
  {{/if}}
</form>

<span class="total-issues">{{pluralize this.model.length "issue"}} displayed</span>

<table class="github-issue-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |issue|}}
      <tr>
        <td><a target="_blank" rel="noopener" href={{issue.repositoryHtml}}>{{issue.repositoryName}}</a></td>
        <td>
          <a target="_blank" rel="noopener" class="github-issue-link" href={{issue.htmlUrl}}>{{issue.title}}</a>

          {{#each issue.labels as |lb|}}
            <button class="github-label-button" {{action (mut this.label) lb.name}}>
              {{github-label label=lb.name labelColor=lb.color}}
            </button>
          {{/each}}
          <br>
          #{{issue.number}} updated {{moment-from-now issue.updatedAt}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
