{{page-title "Issues"}}
<section class="header-container">
  <FilterMenu />

  <form {{on "submit" this.filterIssues}}>
    <label
      for="search-input-issues"
      class="search-label"
    >
      Keyword
    </label>

    <input
      id="search-input-issues"
      data-test-field="Keyword"
      class="search-input"
      type="text"
      value={{this.keyword}}
     {{on "input" this.updateKeyword}}
    />

    <EsButton
      data-test-button="Search"
      class="search-button"
      @label="Search"
      @type="submit"
    />

    {{#if this.label}}
      <div class="label-filter-container">
        <p>
          In addition, look for issues with the label <span class="label-filter">{{remove-emoji-shortcode this.label}}</span>.
        </p>

        <EsButton
          aria-label={{this.clearMessage}}
          data-test-button="Clear Filter"
          class="clear-label-filter-button"
          title={{this.clearMessage}}
          @label="Clear Filter"
          @onClicked={{fn (mut this.label) null}}
          @secondary={{true}}
          @type="button"
        />
      </div>
    {{/if}}
  </form>

  <p class="text-sm num-results-found">
    {{@model.length}} issues displayed
  </p>
</section>

<div class="container body-container">
  <h2 class="text-xl pb-3">
    Issues that could use your help!
  </h2>

  <div class="row">
    <ul class="list-unstyled layout">
      {{#each this.githubIssuesSorted as |githubIssue|}}
        <EsCard
          data-test-github-issue={{githubIssue.number}}
          class="card"
        >
          <header>
            <h3 class="text-lg">
              <a
                data-test-field="Title"
                href={{githubIssue.htmlUrl}}
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.title}}
              </a>
            </h3>

            <div class="github-issue-number-container">
              <p
                data-test-field="Issue Number"
                class="github-issue-number"
              >
                #{{githubIssue.number}}
              </p>
            </div>
          </header>

          <section>
            <p>
              in
              <a
                data-test-field="Repository Name"
                href={{githubIssue.repositoryHtml}}
                class="github-repository-name"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.repositoryName}}
              </a>,
              updated <b>{{time-from-now githubIssue.updatedAt}}</b>
            </p>

            {{#each githubIssue.labels as |label|}}
              <button
                data-test-button={{label.name}}
                class="github-label-button"
                type="button"
                {{on "click" (fn (mut this.label) label.name)}}
              >
                <GithubLabel
                  @backgroundColor={{label.color}}
                  @label={{label.name}}
                />
              </button>
            {{/each}}
          </section>
        </EsCard>
      {{/each}}
    </ul>
  </div>
</div>
