<section class="container issues-header">
  <FilterMenu />
  <form {{on "submit" this.searchByWildcard}} class="search-box">
    <label for="search-input-issues" class="search-label">Keyword</label>
    <Input id="search-input-issues" class="search-input" @value={{this.queryInput}} />
    <EsButton @type="submit" @label="Search" class="search-button" />
    {{#if this.label}}
      <div class="current-filter-label">
        {{label-with-emoji this.label}}
        <EsButton
          @type="button"
          @label="Clear filter"
          aria-label={{this.clearMessage}}
          title={{this.clearMessage}}
          @onClicked={{fn (mut this.label) null}}
          @secondary={{true}}
        />
      </div>
    {{/if}}
  </form>
  <p class="total-issues text-sm">{{pluralize @model.length "issue"}} displayed</p>
</section>
<div class="article container d-flex flex-column">
  <h2 class="text-xl pb-3">
    Issues that could use your help!
  </h2>
  <div class="row">
    <ul class="list-unstyled layout">
      {{#each @model as |githubIssue|}}
        <EsCard
          class="bg-white pt-2"
          data-test-github-issue={{githubIssue.number}}
        >
          <header>
            <h3 class="text-lg">
              <a
                href={{githubIssue.htmlUrl}}
                data-test-field="Title"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.title}}
              </a>
            </h3>
          </header>
          <section>
            <p>
              in
              <a
                href={{githubIssue.repositoryHtml}}
                data-test-field="Repository Name"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.repositoryName}}
              </a>,
              updated <b>{{time-from-now githubIssue.updatedAt}}</b>
            </p>
            {{#each githubIssue.labels as |label|}}
              <button
                class="github-label-button"
                data-test-button={{label.name}}
                type="button"
                {{on "click" (fn (mut this.label) label.name)}}
              >
                <GithubLabel @label={{label.name}} @backgroundColor={{label.color}} />
              </button>
            {{/each}}
            <br>
            <p class="github-issue-number">
              <a
                class="text-white"
                data-test-field="Issue Number"
                href={{githubIssue.htmlUrl}}
                rel="noopener noreferrer"
                target="_blank"
              >
                #{{githubIssue.number}}
              </a>
            </p>
          </section>
        </EsCard>
      {{/each}}
    </ul>
  </div>
</div>
