<section class="container" local-class="header-container">
  <FilterMenu />

  <form {{on "submit" this.searchByWildcard}}>
    <label
      for="search-input-issues"
      local-class="search-label"
    >
      Keyword
    </label>

    <Input
      id="search-input-issues"
      local-class="search-input"
      @value={{this.queryInput}}
    />

    <EsButton
      local-class="search-button"
      @label="Search"
      @type="submit"
    />

    {{#if this.label}}
      <div local-class="label-filter-container">
        <p>
          In addition, look for issues with the label <span local-class="label-filter">{{this.label}}</span>.
        </p>

        <EsButton
          aria-label={{this.clearMessage}}
          local-class="clear-label-filter-button"
          title={{this.clearMessage}}
          @label="Clear filter"
          @onClicked={{fn (mut this.label) null}}
          @secondary={{true}}
          @type="button"
        />
      </div>
    {{/if}}
  </form>

  <p class="text-sm" local-class="num-results-found">
    {{@model.length}} issues displayed
  </p>
</section>

<div class="article container d-flex flex-column">
  <h2 class="text-xl pb-3">
    Issues that could use your help!
  </h2>
  <div class="row">
    <ul class="list-unstyled layout">
      {{#each @model as |githubIssue|}}
        <EsCard
          class="bg-white pt-2"
          data-test-github-issue={{githubIssue.number}}
        >
          <header>
            <h3 class="text-lg">
              <a
                href={{githubIssue.htmlUrl}}
                data-test-field="Title"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.title}}
              </a>
            </h3>
          </header>
          <section>
            <p>
              in
              <a
                href={{githubIssue.repositoryHtml}}
                data-test-field="Repository Name"
                rel="noopener noreferrer"
                target="_blank"
              >
                {{githubIssue.repositoryName}}
              </a>,
              updated <b>{{time-from-now githubIssue.updatedAt}}</b>
            </p>
            {{#each githubIssue.labels as |label|}}
              <button
                class="github-label-button"
                data-test-button={{label.name}}
                type="button"
                {{on "click" (fn (mut this.label) label.name)}}
              >
                <GithubLabel @label={{label.name}} @backgroundColor={{label.color}} />
              </button>
            {{/each}}
            <br>
            <p class="github-issue-number">
              <a
                class="text-white"
                data-test-field="Issue Number"
                href={{githubIssue.htmlUrl}}
                rel="noopener noreferrer"
                target="_blank"
              >
                #{{githubIssue.number}}
              </a>
            </p>
          </section>
        </EsCard>
      {{/each}}
    </ul>
  </div>
</div>
