<form {{action "searchByWildcard" queryInput on="submit"}} class="search-box">
  {{input value=queryInput}} <button type="submit">Search</button>
</form>

<table class="github-issue-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |issue|}}
      <tr>
        <td><a target="_blank" href={{issue.repositoryHtml}}>{{issue.repositoryName}}</a></td>
        <td>
          <a target="_blank" class="github-issue-link" href={{issue.htmlUrl}}>{{issue.title}}</a>

          {{#each issue.labels as |label|}}
            {{github-label label=label.name labelColor=label.color class="github-label"}}
          {{/each}}
          <br>
          #{{issue.number}} updated on {{issue.updatedAtFormatted}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
