<section class="container issues-header">
  <div class="help-wanted-links">
    {{#each this.navLinks.navLinks as |link|}}
      <LinkTo class="es-button" @route={{link.route}} @model={{link.model}} @query={{hash query=""}}>{{link.name}}</LinkTo>
    {{/each}}
  </div>
  <form {{on "submit" this.searchByWildcard}} class="search-box">
    <label for="search-input-issues" class="search-label">Keyword</label>
    <Input id="search-input-issues" class="search-input" @value={{this.queryInput}} />
    <EsButton @type="submit" @label="Search" class="search-button" />
    {{#if this.label}}
      <div class="current-filter-label">
        {{label-with-emoji this.label}}
        <EsButton
          @type="button"
          @label="Clear filter"
          aria-label={{this.clearMessage}}
          title={{this.clearMessage}}
          @onClicked={{fn (mut this.label) null}}
          @secondary={{true}}
        />
      </div>
    {{/if}}
  </form>
  <p class="total-issues text-sm">{{pluralize this.model.length "issue"}} displayed</p>
</section>
<div class="article container d-flex flex-column">
  <h2 class="text-xl pb-3">
    Issues that could use your help!
  </h2>
  <div class="row">
    <ul class="list-unstyled layout">
      {{#each this.model as | issue |}}
        <EsCard
          class="bg-white pt-2"
          data-test-github-issue={{issue.number}}>
          <header>
            <h3 class="text-lg">
              <a target="_blank" rel="noopener noreferrer" href={{issue.htmlUrl}} data-test-github-issue-title>{{issue.title}}</a>
            </h3>
          </header>
          <section>
            <p>
              in <a target="_blank" rel="noopener noreferrer" href={{issue.repositoryHtml}} data-test-github-issue-project>{{issue.repositoryName}}</a>,
              updated <b>{{moment-from-now issue.updatedAt}}</b>
            </p>
            {{#each issue.labels as |lb|}}
              <button class="github-label-button" {{on "click" (fn (mut this.label) lb.name)}} data-test-github-issue-filter-label type="button">
                <GithubLabel @label={{lb.name}} @labelColor={{lb.color}} />
              </button>
            {{/each}}
            <br>
            <p class="github-issue-number">
              <a class="text-white" target="_blank" rel="noopener noreferrer" href={{issue.htmlUrl}} data-test-github-issue-side-link>#{{issue.number}}</a>
            </p>
          </section>
        </EsCard>
      {{/each}}
    </ul>
  </div>
</div>
