<form {{action "searchByWildcard" queryInput on="submit"}} class="search-box">
  {{input value=queryInput}} <button type="submit">Search</button>
  {{#if label}}
    <span class="current-filter-label">{{label-with-emoji label}} <span {{action (mut label) null}}>x</span></span>
  {{/if}}
</form>

<span class="total-issues">{{pluralize model.length "issue"}} displayed</span>

<table class="github-issue-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |issue|}}
      <tr>
        <td><a target="_blank" href={{issue.repositoryHtml}}>{{issue.repositoryName}}</a></td>
        <td>
          <a target="_blank" class="github-issue-link" href={{issue.htmlUrl}}>{{issue.title}}</a>

          {{#each issue.labels as |lb|}}
            <a onclick={{action (mut label) lb.name}}>{{github-label label=lb.name labelColor=lb.color}}</a>
          {{/each}}
          <br>
          #{{issue.number}} updated {{moment-from-now issue.updatedAt}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
