<p>The items below could all use some love and attention.  Please, grab one!</p>
<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Working On</th>
    </tr>
  </thead>
  <tbody class="issues">
    {{#each openIssues as |item|}}
    <tr class="issue">
      <td class="issue-project"><a href="{{item.projectLink}}" target="_blank">{{item.project}}</a></td>
      <td class="issue-title"><a href="{{item.link}}" target="_blank">{{item.title}}</a></td>
      <td></td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}
